<head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="tableauC.css" />
</head>
<body>
  <script type="text/javascript" src="./Commands/Tournoi.js"></script>
  <article id="container">

  <section>
      <div>Player 1</div>
      <div>Player 2</div>
      <div>Player 3</div>
      <div>Player 4</div>
      <div>Player 5</div>
      <div>Player 6</div>
      <div>Player 7</div>
      <div>Player 8</div>
  </section>

  <div class="connecter">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>

  <div class="line">
      <div>
      </div><div>
      </div><div>
      </div><div>
      </div>
  </div>

  <section id="quarterFinals">
      <div id= "win1"></div>
      <div id= "win2"></div>
      <div id= "win3"></div>
      <div id= "win4"></div>
  </section>

  <div class="connecter" id="conn2">
      <div></div>
      <div></div>
  </div>

  <div class="line" id="line2">
      <div></div>
      <div></div>
  </div>

  <section id="semiFinals">
      <div id= "win5"></div>
      <div id= "win6"></div>
  </section>

  <div class="connecter" id="conn3">
      <div></div>
  </div>

  <div class="line" id="line3">
      <div></div>
  </div>

  <section id="final">
  <div id= "win7"></div>
  </section>

  </article>

</body>
